<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important; height: 100% !important; font-family:arial; width: 100% !important; min-width: 100% !important; background-color: #dddddd; margin: 0; padding: 0;";>
<left>
    <div style="padding: 10px; text-align: left; background: transparent;">
        <p style="padding-left: 30px;"><b>Kính g?i</b>: Quý khách hàng thân thi?t!</p>
        <p style="padding-left: 30px;">Th?u hi?u ???c t?m quan tr?ng và nh?ng ?nh h??ng c?a th?i gian l?u thông hàng hóa ??i v?i  c? h?i kinh doanh c?a Quý khách, Công ty CP Truy?n Thông và Công Ngh? Alimama (??n v? ch? qu?n website: <a style="color: blue" href="www.orderhang.com" target="_blank">www.orderhang.com</a>/<a style="color: blue" target="_blank" href="www.seudo.vn">www.seudo.vn</a>) khai tr??ng gói d?ch v? <b>Chuy?n phát nhanh Siêu t?c (Trung Qu?c - Vi?t Nam)</b>.</p>

        <h3 style="text-decoration: underline; padding-top: 10px">U? th? c?a d?ch v?:</h3>
        <ul>
            <li>
                Phí d?ch v? c?nh tranh, nhi?u ?u ?ãi, tr?ng l??ng tính phí chính xác ??n 100g
            </li>
            <li>
                Th?i gian v?n chuy?n, l?u thông hàng hóa nhanh g?p 2 so v?i th?i gian v?n chuy?n thông th??ng. Th?i gian ch? t? 2 – 3 ngày v? ??n Hà N?i và 2 – 4 ngày v? ??n TP. H? Chí Minh
            </li>
            <li>
                Gi?m t?i m?c t?i ?a nh?ng h?n ch?, ph? thu?c c?a th? tr??ng
            </li>
            <li>
                B?o v? hàng hóa chuyên nghi?p khi v?n chuy?n
            </li>
            <li>
                Rút ng?n th?i gian nh?p hàng - T?ng c? h?i kinh doanh
            </li>
            <li>
                Ti?n ích thông báo hàng v? kho t? ??ng t? Orderhang.com/Seudo.vn

            </li>
        </ul>

        <p style="padding-left: 30px">Nhân d?p khai tr??ng d?ch v?, chúng tôi trân tr?ng g?i t?i Quý khách Ch??ng trình ?u ?ãi vô cùng h?p d?n <b>“Chuy?n phát nhanh - ?u ?ãi shock”.</b></p>
        <p style="padding-left: 30px">
            Theo ?ó, khi ??t ??n hàng dù ch? 1kg, khách hàng s? h??ng m?c ??n giá nh? khi ??t 100kg. Chúng tôi hy v?ng, ch??ng trình s? mang t?i cho Quý khách nhi?u l?i ích thi?t th?c và kh?c ph?c ???c nh?ng khó kh?n v? l?u thông hàng hóa trong th?i k? giao th??ng khó kh?n này.
        </p>

        <div style="padding: 10px 0; text-align: center">
            <img src="http://localhost/_seudo/www_html/assets/images/templates/email/chuyen-phat-nhanh-624x299.jpg" alt="" />
        </div>

        <p>
            Chi ti?t và cách tính phí Chuy?n phát nhanh Siêu t?c (Trung Qu?c – Vi?t Nam), Quý khách hàng xem thêm <a target="_blank" href="http://hotro.seudo.vn/dichvuchuyenphatnhanh/">t?i ?ây</a>  (<a href="http://hotro.seudo.vn/dichvuchuyenphatnhanh/" target="_blank">http://hotro.seudo.vn/dichvuchuyenphatnhanh/</a>)
        </p>

        <p>M?i th?c m?c liên quan ??n d?ch v?, Quý khách vui lòng liên h? s? ?i?n tho?i: 096 242 5175 ho?c chat v?i CSKH c?a chúng tôi ?? ???c h? tr?. </p>
    </div>

</left>
</body>