.bs-docs-section{
    margin-bottom: 40px;
}
ul{
    list-style-type: none;
    padding: 0;
}
button:focus,
input:focus,
select:focus,
textarea:focus,
a:focus{
    outline: none !important;
} 
.btn-red{
    background: #ba4233; 
} 
.btn{
     margin: 0 0 10px;
}    
.btn-red:hover,
.btn-red-hover
{
    background: #ba4233; 
    border: 1px solid #821f12; 
    background: -moz-linear-gradient(top,  #ba4232 0%, #aa2a1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ba4232), color-stop(100%,#aa2a1a));
    background: -webkit-linear-gradient(top,  #ba4232 0%,#aa2a1a 100%);
    background: -o-linear-gradient(top,  #ba4232 0%,#aa2a1a 100%);
    background: -ms-linear-gradient(top,  #ba4232 0%,#aa2a1a 100%);
    background: linear-gradient(top,  #ba4232 0%,#aa2a1a 100%);
}        
.btn-orange{
    background: #d76f3c;
}  
.btn-orange:hover,
.btn-orange-hover
{
    background: #d76f3c; 
    border: 1px solid #bc5929; 
    background: -moz-linear-gradient(top,  #c35620 0%, #d76f3c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c35620), color-stop(100%,#d76f3c));
    background: -webkit-linear-gradient(top,  #c35620 0%,#d76f3c 100%);
    background: -o-linear-gradient(top,  #c35620 0%,#d76f3c 100%);
    background: -ms-linear-gradient(top,  #c35620 0%,#d76f3c 100%);
    background: linear-gradient(top,  #c35620 0%,#d76f3c 100%);
} 
.btn-blue{
    background: #019875;
}
.btn-green{
    background: #447bc5;
}

.btn-blue:hover,
.btn-blue-hover,
.btn-blue-active
{
    background: #019875;  
    border: 1px solid #007583; 
    background: -moz-linear-gradient(top,  #01aa83 0%, #019875 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#01aa83), color-stop(100%,#019875));
    background: -webkit-linear-gradient(top,  #01aa83 0%,#019875 100%);
    background: -o-linear-gradient(top,  #01aa83 0%,#019875 100%);
    background: -ms-linear-gradient(top,  #01aa83 0%,#019875 100%);
    background: linear-gradient(top,  #01aa83 0%,#019875 100%);
}
.btn-green:hover,
.btn-green-hover,
.btn-green-active
{
    background: #447bc5;  
    border: 1px solid #195883; 
    background: -moz-linear-gradient(top,  #447bc5 0%, #3c6daf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#447bc5), color-stop(100%,#3c6daf));
    background: -webkit-linear-gradient(top,  #447bc5 0%,#3c6daf 100%);
    background: -o-linear-gradient(top,  #447bc5 0%,#3c6daf 100%);
    background: -ms-linear-gradient(top,  #447bc5 0%,#3c6daf 100%);
    background: linear-gradient(top,  #447bc5 0%,#3c6daf 100%);
}


.btn-gray{
    background: #898989; 
}

.btn-gray:hover,
.btn-gray-hover
{
    background: #111; 
    border: 1px solid #6f6f6f;  
}

.btn-default-hover{
    border: 1px solid #ccc;
}

.btn-default-active{
    border: 1px solid #ccc;
}

.btn-red-active{
    background: #aa2919; 
    border: 1px solid #821f12; 
}

.btn-orange-active{
    background: #c35620; 
    border: 1px solid #bc5929;   
}

.btn-gray-active{
    background: #111; 
    border: 1px solid #6f6f6f;  
}

.btn-red,
.btn-red:hover,
.btn-orange,
.btn-orange:hover,
.btn-blue,
.btn-green,
.btn-blue:hover,
.btn-green:hover,
.btn-gray,
.btn-gray:hover,
.btn-red-hover,
.btn-red-hover:hover,
.btn-orange-hover,
.btn-orange-hover:hover,
.btn-blue-hover,
.btn-blue-hover:hover,
.btn-gray-hover,
.btn-gray-hover:hover,
.btn-red-active,
.btn-red-active:hover,
.btn-orange-active,
.btn-orange-active:hover,
.btn-blue-active,
.btn-blue-active:hover,
.btn-gray-active,
.btn-gray-active:hover
{
    color: #fff;
    border-radius: 2px;
}

.btn-red.disable,
.btn-orange.disable,
.btn-blue.disable,
.btn-gray.disable,
.btn-default.disable
{
    opacity: 0.75;
}

.btn-red.disable:hover,
.btn-orange.disable:hover,
.btn-blue.disable:hover,
.btn-gray.disable:hover,
.btn-default.disable:hover
{
    opacity: 0.75;
}


.alert-error {
    background: #f2dede;  
    border: 1px solid #eed3d7;  
    color: #b94a48;
}

.alert-alert {
    background: #f4f4dd;  
    border: 1px solid #eeedd0;
    color: #c09853;
}

.alert-success {
    background: #d9edf7;  
    border: 1px solid #bce8f1;
    color: #3a87ad;
}

.alert-info {
    background: #dff0d8;  
    border: 1px solid #d6e9c6;
    color: #468847;
}

.icon-alert-error,
.icon-alert-alert,
.icon-alert-success,
.icon-alert-info {              
    padding: 17px 10px 17px 45px;
    margin-right: 10px;
}

.icon-alert-error {
    background: url("../images/mytypo/error.png") no-repeat  #f2dede;
    background-position: 10px 10px; 
    border: 1px solid #eed3d7;  
    color: #b94a48;                  
}

.icon-alert-error a{      
    color: #b94a48;
    text-decoration: underline;                  
}

.icon-alert-alert {
    background: url("../images/mytypo/alert.png") no-repeat  #f4f4dd;
    background-position: 10px 10px; 
    border: 1px solid #eeedd0;
    color: #c09853;
}

.icon-alert-alert a{         
    color: #c09853;
    text-decoration: underline;
}

.icon-alert-success {   
    background: url("../images/mytypo/success.png") no-repeat  #d9edf7;
    background-position: 10px 10px;  
    border: 1px solid #bce8f1;
    color: #3a87ad;
}

.icon-alert-info {    
    background: url("../images/mytypo/info.png") no-repeat  #dff0d8;
    background-position: 10px 10px;  
    border: 1px solid #d6e9c6;
    color: #468847;
}

.myinput{
    margin-bottom: 5px;
}

.myinput span{
    color: #c0392b;
} 

.form-myinput{
    border-radius: 2px;
    border-top: 1px solid #C1C1C1 ;
    box-shadow:0 0 1px 1px rgba(0, 0, 0, 0.055) inset;
} 
.form-myinput:hover{        
    box-shadow:0 0 1px 1px rgba(0, 0, 0, 0.055) inset;
    border: 1px solid #C1C1C1 !important;
    background: #fff !important;
} 

.form-myinput:focus, 
.form-myinput-typing,
.form-myinput-typing:hover{
    background: #fff !important;
    border: 1px solid #66afe9 !important;
}

.form-mytextarea:hover,
.form-mytextarea:hover{
    background: #fff !important; 
    box-shadow:0 0 1px 1px rgba(0, 0, 0, 0.055) inset;
    border: 1px solid #c8c8c8 !important;
}

.form-myinput-warning{
    background: #fff !important;    
    box-shadow:0 0 1px 1px rgba(0, 0, 0, 0.055) inset;
    border: 1px solid #ba4233 !important;
    color: #ba4233 !important;
}





.modal-footer .btn{
    margin: 0 0 10px !important;
}

.my-tab-content{
    background: #fff;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-top: 0;    
}

.my-tabs a{
    color: #555; 
}

.my-tabs a:focus{
    outline: none;
}

.my-dropdow a.dropdown-toggle{
    color: #555;
}

li.my-dropdow {
    list-style-type: none;
    float: left;
    margin-right: 10px;
    padding: 5px 10px;
}

li.my-dropdow.open {
    background: #ccc;
    padding: 5px 10px;
    border-radius: 2px;
}

.my-pagination li a{
    border-radius: 0;
    border: none;
    background: none;
    color: #4fa3d3;
    padding: 4px 8px;
    font-size: 14px;
}

.my-pagination li a:hover,
.my-pagination li a.active
{
    border-radius: 0;
    border: none;
    background: #ba4133;
    color: #fff;
    border-radius: 20px;
}
/* note text*/
.italic,
span.italic,
p.italic{
    color:#959595;
}
.red-normal,
span.red-normal,
p.red-normal{
    color: #c1423d;
    font-weight: normal;
}
.red-bold,
span.red-bold,
p.red-bold{
    color: #c1423d;
    font-weight: bold;
}
button.btn-red:focus,
button.btn-blue:focus,
button.btn-green:focus{
    color: #fff;
}
input,
.form-control{
/*    box-shadow: none;*/
    color: #404040;
}
input:focus,
.form-control:focus{
    box-shadow: none;
}
.breadcrumb > li + li:before{
    color: #447BC4;
    padding: 0 2px;
}
.breadcrumb > .active{
    color: #404040;
}
.breadcrumb{
    background: none;
    padding-left: 0;
}
/*end note text*/
/*modal login+register*/
.register .modal-title p{
    font-size: 20px;
}
.register .modal-header{
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
}
.register .regis-item{
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
.register.facebook .regis-item{
    margin-bottom: 10px;
}
.register .regis-item span.radio{
    display: inline-block;
    margin: 0;
    margin-left: 15px;
}
.register .regis-item span.radio input{
    margin-top: 1px;
    margin-left: -15px;
}
.register .regis-item .tooltipregister{
    position: absolute;
    width: 200px;
    height: 50px;
    border-radius: 2px;
    top: 0;
    right: -209px;
    display : none;
    transition: display 0.5s ease 0s;
}
.register .regis-item:hover .tooltipregister{
     display: inline-block;
}
.register .regis-item.name input{
     width: 45%;
}
.arrow_box { padding-left: 5px; border-radius: 2px; position: relative; background: #111; border: 4px solid #111; } .arrow_box:after, .arrow_box:before { right: 100%; top: 25%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } .arrow_box:after { border-color: rgba(17, 17, 17, 0); border-right-color: #111; border-width: 4px; margin-top: -4px; } .arrow_box:before { border-color: rgba(17, 17, 17, 0); border-right-color: #111; border-width: 10px; margin-top: -10px; }
 .register .regis-item .tooltipregister p{
    margin: 0;
    font-size: 11px;
    color: #fff;
}
.register .modal-body{
    padding-top: 5px;
    padding-bottom: 0;
}
.register .modal-body .made{
    margin-bottom: 10px;
}
.register .modal-body .red-normal{
    margin: 0;
    margin-top: 2px;
    font-size: 11px;
}
.register .modal-header .close{
    font-size: 30px;
}

.register.login .modal-title {
    position: relative;
}
.register.login .modal-title a{
    position: absolute;
    font-size: 12px;
    top: 10px;
    right: 0;
}

.register.login .made label{
    position: relative;
    padding-left: 18px;
    font-weight: normal;
}
p.normal.facebook{
    padding: 15px 0;
    text-transform: uppercase;
    color: #fff;  
    background: #3b5998; 
    border: 1px solid #2a4069; 
    background: -moz-linear-gradient(top,  #5678bb 0%, #314a7c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5678bb), color-stop(100%,#314a7c));
    background: -webkit-linear-gradient(top,  #5678bb 0%,#314a7c 100%);
    background: -o-linear-gradient(top,  #5678bb 0%,#314a7c 100%);
    background: -ms-linear-gradient(top,  #5678bb 0%,#314a7c 100%);
    background: linear-gradient(top,  #5678bb 0%,#314a7c 100%);
    border-radius: 2px;
    font-weight: bold;
    font-weight: bold;
    padding-left: 20%;
    position: relative;
    cursor: pointer;
}
.register.login .modal-footer button{
    padding: 12px 25px;
}
.register.login .modal-footer a{
    margin-top: 11px;
}
p.normal.facebook .icon-facebook{
    text-indent: -999em;
    background: url("../images/f.png") no-repeat scroll 0 0 rgba(255, 255, 255, 0.08);
    background-position: center;
    width: 50px;
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    border-radius:0 2px 2px 0 ;
}
.page-register.register.login .page-login-footer{
    display: inline-block;
    width: 100%;
}

p.normal-center,
span.normal-center{
    text-align: center;
}
.normal-blod{
    font-weight: bold;
}
.register.facebook .modal-dialog{
    width: 600px;
}
.register.facebook .regis-item .normal-blod{
    margin: 0;
    margin-top: 15px;
}
.register.facebook .regis-item span.radio{
    margin-left: 0;
    margin-right: 15px;
}
.register.facebook .submitfacebook button{
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 12px;
    padding-top: 15px;
}
.register.facebook .avatar{
    display: inline-block;
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-right: 15px;
}
.register.facebook p.icon-facebook{
    position: relative;
    padding-left: 30px;
    margin-top: 10px;
    padding-top: 5px;
}
 p.icon-facebook span{
    position: absolute;
    background: url("../images/f.png") no-repeat #3a579a;
    width: 25px;
    top: 0;
    left: 0;
    background-position: center;
    height: 25px;
    background-size: 5px 12px;
}
.register.facebook.loginface .regis-item-avatar{
    position: relative;
    padding-left: 67px;
}
.register.facebook.loginface .regis-item-avatar .item-avatar{
    position: absolute;
    width: 55px;
    height: auto;
    top: 5px;
    left: 0;
}
.register.facebook.loginface .submitfacebook{
    margin-top: 8px;
}
.register .modal-content .modal-header,
.register .modal-content .modal-body,
.register .modal-content .modal-footer{
    padding-left: 30px;
    padding-right: 30px;
}
.register.facebook.loginface .regis-item-avatar .item-avatar img{
    display: inline-block;
    width: 100%;
    height: auto;
    border: 1px solid #b7b8ba;
}
.register.facebook.loginface .regis-item-avatar p{
    display: inline-block;
    width: 100%;
    height: auto;
}
.register.facebook.loginface .regis-item-avatar p.text{
    font-weight: bold; 
    font-size: 14px;
}
.register.facebook.loginface .normal-blod{
    text-transform: uppercase;
    margin-bottom: 5px;
}
.register .close{
    font-weight: normal;
    position: absolute;
    top: 2px;
    right: 5px;
}
.register.facebook .avatar img{
    border: 1px solid #b7b7bc;
    display: inline-block;
    width: 100%;
    height: auto;
}
.register.login .made label input{
    position: absolute;
    width: 5px;
    height: 5px;
    top: 1px;
    left: 0; 
    margin: 0;
}
.register .modal-footer{
    background: #f3f3f3;
}
.register .modal-footer button{
    margin-bottom: 0 !important;
    padding: 6px 20px;
    margin-left: 5px !important;
    text-transform: uppercase;
    font-weight: bold;
}
.register .modal-footer button.btn-gray{
    width: 90px;
}
.register .modal-dialog{
    width: 400px;
}
.register.login .modal-dialog.reset-password-block .reset-password{
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease 0s;
}
.register.login .modal-dialog.reset-password-block.block .reset-password{
    height: 180px; 
    overflow: inherit;
}
.register.login .modal-dialog.reset-password-block.block .reset-password .red-normal{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 0px;
    transition: font-size 0.5s ease 0s;
}
.register.login .modal-dialog.reset-password-block.block .reset-password .red-normal.block-error{
    font-size: 12px;
}
.register.login .modal-dialog.reset-password-block.block .modal-body,
.register.login .modal-dialog.reset-password-block.block .modal-footer > a,
.register.login .modal-dialog.reset-password-block.block .modal-footer > button,
.register.login .modal-dialog.reset-password-block.block .modal-header .modal-title{
    display: none;
}

.register.login .modal-footer .password-back{
    text-align: center;
    margin-top: 10px;     
}

.register.login .modal-footer .reset-password p.email-text{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
.register.login .modal-footer .reset-password .tooltipregister p{
    text-align: left;
}
.register.login .modal-footer .reset-password button{
    display: inline-block;
    width: 100%;
    margin: 0 !important;
}
.register.login .modal-dialog.reset-password-block.block .modal-footer{
    margin-top: -16px;
}

/*end modal login+register*/



.form-myinput-warning::-moz-placeholder{color:#ba4233}




