.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:8px 4px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:8px 4px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-uce2{font-weight:bold;font-family:Arial, Helvetica, sans-serif !important;}
.tg .tg-s6z2{text-align:center}
.tg .tg-2fkl{font-weight:bold;font-size:36px;text-align:center}
.tg .tg-e3zv{font-weight:bold}
.tg .tg-07dj{font-weight:bold;font-size:14px}
.tg .tg-by3v{font-weight:bold;font-size:14px;text-align:center}
._input_weight{
    width: 55px;
}
._content_print{
    width: 800px;
}
.tbl_order{
    border: medium none !important;
    margin-left: -5px;
    width: 102%;
}
h3{
    color: #000000 !important;
}
._text{
    font-weight: normal !important;
}
._div_name{
    width: 33%;
    float: left;
}